<div class="page-content">
  <h1 class="border-bottom">About</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>History</h2>
      <p>Started back in whatever and such and such a place</p>
    </div>

    <div class="col-md-6">
      <h2>Beliefs</h2>
      <p>We believe this and this </p>
      <p><a href="#">1689 Confession of Faith</a></p>
      <p><a href="#">Church Constitution</a></p>
    </div>
  </div>

  <div class="row">
    <h2>Map and Direction</h2>
    <div class="map">
      <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=38.2527,-85.7585&key=AIzaSyD1nzEVOcnpc7eFbiH6KVn6fxE6ErAseqU"
        allowfullscreen></iframe> -->
      <img src="./src/images/map.PNG" />
    </div>
  </div>

    <ul class="nav nav-tabs" id="leadershipTab" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" 
          id="pastors-tab" 
          data-toggle="tab" 
          href="#pastors" 
          role="tab" 
          aria-controls="pastors" 
          aria-selected="true"
          target="_self">
          Pastors
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" 
          id="deacons-tab" 
          data-toggle="tab" 
          href="#deacons" 
          role="tab" 
          aria-controls="deacons" 
          aria-selected="false"
          target="_self">
          Deacons
        </a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="pastors" role="tabpanel" aria-labelledby="home-tab">
        <h2>Pastors</h2>
        <h3>John Smith</h3>
        <p>He is some guy that was raised over there etc etc...</p>

        <h3>Joe Brown</h3>
        <p>Some stuff about this guy</p>
      </div>

      <div class="tab-pane fade" id="deacons" role="tabpanel" aria-labelledby="deacons-tab">
          <h2>Deacons</h2>
          <h3>Will Dogson</h3>
          <p>hdsfkljs flkjsf ;kljsf ;lkjasd;lf kjsadl;fjasld;kfj </p>
  
          <h3>Nathan Black</h3>
          <p>Something about him and stuff...</p>
      </div>
    </div>

    
    
</div>