<div fxLayout="column" fxLayoutGap="32px">

  <mat-card fxFlex="100%">
    <mat-card-header>
      <mat-card-title>Welcome</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      On behalf of the church and its leadership, I want to welcome you to our website. It is our hope to meet you in
      person as we worship the Lord on the Lord’s Day or as we gather to pray on Wednesday evenings.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Read Full Letter</button>
    </mat-card-actions>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="32px" fxLayout.lt-md="column">
    <mat-card fxFlex="100%">
      <mat-card-header>
        <mat-card-title>Recent Sermons</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Recent Stuff
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>See All</button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex="100%">
      <mat-card-header>
        <mat-card-title>Calendar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Calendar stuff
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>See full calendar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>