.card-header {
     background-color: #984B43;
     color: #ffffff;
}

.card-body {
     background: #233237;
     color: #ffffff;
}

.card {
     border-color: #984B43;
     margin-top: 50px;
}

.cardImage > img {
     width: 100%;
}